 @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Transportation.Infrastructure.Data.Truck
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Coordinator/Views/Shared/_LayoutCoordinator.cshtml";
}


<a href="~/Coordinator/Coordination/index">điều phối xe</a>
<br/>
<!-- Button to trigger modal -->


