
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Quên mật khẩu</h5>
                                <p class="text-center small">Điền thông của bạn để lấy lại mâtj khẩu</p>
                            </div>

                            <form id="forgetpasswordForm" class="row g-3 needs-validation" novalidate>

                                <div class="col-12 mb-3">
                                    <input type="text" id="email" class="form-control form-control-lg rounded-3 shadow-sm" placeholder="Email của bạn" required />
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Lâý lại mật khẩu</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Bạn đã có tài khoản? <a asp-action="LogIn" asp-controller="Account">Đăng nhập</a></p>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
               
            </div>
        </div>

    </section>

</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let forgetpasswordForm = document.getElementById("forgetpasswordForm");

            if (forgetpasswordForm) {
                forgetpasswordForm.addEventListener("submit", function (event) {
                    event.preventDefault();

                    let email = document.getElementById("email").value;
                    let clientUri = "https://localhost:7033/Account/ResetPassword";
                    fetch("/api/AccountAPI/Forgotpassword", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ email: email, clientUri: clientUri })
                    })
                        .then(res => {
                            if (res.ok) {
                                // Thành công
                                alert("Yêu cầu lấy lại mật khẩu đã được gửi, vui lòng kiểm tra email của bạn!");
                                window.location.href = "/account/login";
                            } else {
                                alert("Yêu cầu thất bại ,vui lòng keiemr tra lại email của bạn!");
                            }
                        })
                        .catch(error => {
                            console.error("Lỗi:", error);
                            alert("Có lỗi xảy ra khi gửi yêu cầu!");
                        });
                });
            }
        });
    </script>
}
