
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Quên mật khẩu</h5>
                                <p class="text-center small">Điền thông của bạn để thay đổi mật khẩu</p>
                            </div>

                            <form id="resetpasswordForm" class="row g-3 needs-validation" novalidate>

                                <div class="col-12 mb-3">
                                    <input type="text" id="password" class="form-control form-control-lg rounded-3 shadow-sm" placeholder="Mật khẩu" required />
                                </div>

                                <div class="col-12 mb-3">
                                    <input type="text" id="confirmPassword" class="form-control form-control-lg rounded-3 shadow-sm" placeholder="Xác nhận mật khẩu" required />
                                </div>
                                <input type="hidden" id="emailInput" name="email" />
                                <input type="hidden" id="tokenInput" name="token" />
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Xác nhận</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Bạn đã có tài khoản? <a asp-action="LogIn" asp-controller="Account">Đăng nhập</a></p>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>

</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const params = new URLSearchParams(window.location.search);
            document.getElementById("tokenInput").value = params.get("token");
            document.getElementById("emailInput").value = params.get("email");

            let resetpasswordForm = document.getElementById("resetpasswordForm");
            if (resetpasswordForm) {
                resetpasswordForm.addEventListener("submit", function (event) {
                    event.preventDefault();

                    let password = document.getElementById("password").value;
                    let confirmPassword = document.getElementById("confirmPassword").value;
                    let email = document.getElementById("emailInput").value;
                    let token = document.getElementById("tokenInput").value;

                    if (password !== confirmPassword) {
                        alert("Mật khẩu và xác nhận mật khẩu không khớp!");
                        return;
                    }

                    fetch("/api/AccountAPI/ResetPassword", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ email, token, password, confirmPassword })
                    })
                        .then(res => {
                            if (res.ok) {
                                // Thành công
                                alert("Đặt lại mật khẩu thành công!");
                                window.location.href = "/account/login";
                            } else {
                                // Thất bại (ví dụ: 400 BadRequest, 500 InternalServerError)
                                alert("Đặt lại mật khẩu thất bại!");
                            }
                        })
                        .catch(error => {
                            console.error("Lỗi:", error);
                            alert("Có lỗi xảy ra khi gửi yêu cầu!");
                        });
                });
            }
        });

    </script>
}

